<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
    <% @lectures.each do |lecture| %>
          <div class="col-sm-4 portfolio-item">
            <h4><%= lecture.content.html_safe %></h4>
            <hr>
            <a href="#" class="portfolio-link" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <h4>added by:</h4>
                  <%= lecture.user.name %>
                </div>
              </div>

              <img src="1.jpg" class="img-responsive" alt="">
            </a>

            <%= link_to 'Show', lecture %>
            <% if user_signed_in?%>
                <%if lecture.user_id == current_user.id %>
                    <h4><%= link_to 'Edit', edit_lecture_path(lecture) %></h4>

                    <%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            <% end %>
          </div>

    <% end %>
    </div>


<br>

<%= link_to 'New Lecture', new_lecture_path %>
  </div>
</section>
