<p id="notice"><%= notice %></p>
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <strong>course of :</strong>
        <h2><%= @course.title %></h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-5">
        <p>
          <strong>User:</strong>
          <%= @course.user.try(:name) %>
        </p>
      </div>



        <div class="col-lg-8 col-lg-offset-2 text-center">

          <%= link_to 'Edit', edit_course_path(@course) %> |
          <%= link_to 'Back', courses_path %>
          <br>
          <h2><%= link_to 'Lectures', lectures_path(@course.id) %></h2>
          <br>
          <% if user_signed_in? && current_user.degree=="instractor"%>
              <%= link_to 'New Lecture'  , new_lecture_path ,class: "btn btn-lg btn-outline " %>
          <%end%>
        </div>
      </div>
    </div>
</section>